<a href="https://colab.research.google.com/github/YunshanWu/Introduction-to-Computers/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('123')

123

In [2]:
i =  range(5)

In [3]:
print(i)

range(0, 5)

In [4]:
print(type(i))

<class 'range'>

In [5]:
print(list(i))

[0, 1, 2, 3, 4]

In [9]:
a = range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [8]:
b = range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [10]:
c = range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [11]:
d = range(3,8,2)
print(list(d))

[3, 5, 7]

In [12]:
e = range(8,3,-1)
print(list(e))

[8, 7, 6, 5, 4]

In [18]:
f = range(9)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
g = range(1,10)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
h = range(1,10,2)
print(list(h))

[1, 3, 5, 7, 9]

In [19]:
i = range(10,1,-2)
print(list(i))

[10, 8, 6, 4, 2]

In [20]:
for n in range(3):
  print(n)

0
1
2

In [21]:
for n in range(10):
  print(n, end=',')

0,1,2,3,4,5,6,7,8,9,

In [23]:
for n in range(0,10,2):
  print(n,end=',')

0,2,4,6,8,

In [30]:
test = int(input('請輸入一個正整數:'))
for m in range(1, test+1):
  print(m, end=' ')

請輸入一個正整數:12
1 2 3 4 5 6 7 8 9 10 11 12

In [27]:
sum = 0
for n in range(3):
  sum = sum + n
print(sum)

3

In [29]:
sum = 0
for n in range(10,1,-2):
  sum = sum + n
print(sum)

30

In [56]:
test = int(input('請輸入一個正整數:'))
sum = 0
for n in range(1,test+1):
  sum = sum + n
print('1到',str(test), '的整數和為'+ str(sum))

請輸入一個正整數:10
1到 10 的整數和為55

In [63]:
test = int(input('請輸入一個正整數:'))
sum= 0 
for n in  range(1,test+1):
  sum = sum + n
  print('1到' , str(test), '的整數和為:', sum)

請輸入一個正整數:10
1到 10 的整數和為: 1
1到 10 的整數和為: 3
1到 10 的整數和為: 6
1到 10 的整數和為: 10
1到 10 的整數和為: 15
1到 10 的整數和為: 21
1到 10 的整數和為: 28
1到 10 的整數和為: 36
1到 10 的整數和為: 45
1到 10 的整數和為: 55